{% include 'header.html' %}

<div class="container">
    <h1>Tech Career Path</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Habit</th>
                <th scope="col">Frequency</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
