/* Custom styles */

.container {
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

.banner {
    padding: 40px 20px;
    text-align: center;
    background: #007bff;
    color: white;
}

.logo {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}

body {
    background-color: #f8f9fa;
}
.quiz-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.quiz-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #343a40;
}
.form-check-label {
    font-weight: 500;
}
.form-check-input:checked ~ .form-check-label {
    color: #007bff;
}
.question {
    display: none;
}
.question-block {
    margin-bottom: 20px;
}
